.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin: 4em;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
}

.card>img {
    object-fit: contain;
    height: 100%;
    max-width: 100%;
    border-radius: 20px;
}