.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
}

.card>img {
    border: 2px solid red;
    object-fit: contain;
    height: 100%;
    max-width: 100%;
}