.footer-navbar-container {
    display: grid;
    grid-template-columns: 18fr 1fr;
    align-items: center;
    gap: 1em;
    margin: 4px 5em 4px 5em;
    padding-top: 5px;
    position: relative;
}

.category-list {
    height: 70px;
    display: flex;
    overflow-x: scroll;
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 3em;
    gap: 6px;
}

.category-item img {
    width: 22px;
}

.category-item p {
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}

#filter-button {
    width: 80px;
    height: 40px;
    font-size: 10px;
    border: none;
    border-radius: 10px;
}

/** SCROLL BUTTON **/
.scroll-button {
    background-color: rgba(199, 188, 188, 0.829);
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    right: 100px;
}