.footer-navbar-container {
    background-color: thistle;
    display: grid;
    grid-template-columns: 18fr 1fr;
    gap: 1em;
    margin: 0 60px 0 4em;
    padding: 1em 0 1em 1em;
}

.scroll-container {
    display: flex;
    justify-content: space-between;
}