.header-navbar-container {
    border-bottom: 1px solid rgba(228, 217, 217, 0.829);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 16em;
}

/* Menubar Logo*/
.main-logo {
    margin-left: 4em;
    width: 110px;
}


/* ---- MENUBAR -----*/
.menubar-container {
    display: flex;
    justify-content: center;
    max-width: 400px;
}

.menubar-container ul {
    max-width: 320px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(228, 217, 217, 0.829);
    box-shadow: 0.5px 1px 10px rgba(228, 217, 217, 0.829);
    border-radius: 50px;
}

.menubar-container ul:hover {
    box-shadow: 0.5px 1.5px 10px rgba(199, 188, 188, 0.829);
}

.menubar-container li {
    margin: 10px;
    display: inline-block;
    font-size: 13px;
}

.menubar-container li:first-child {
    margin-left: 20px;
}

.menu-item-contanier {
    border-right: 1px solid rgba(228, 217, 217, 0.829);
    padding-right: 1em;
}

.menubar-container li:not(:last-child) {
    font-weight: bold;
}

.menubar-container a {
    color: rgb(88, 88, 88);
    font-family: sans-serif;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
}

/* "Add Guest" and "Button" - Last item in the Menubar*/
.menubar-container li:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1em;
}

.search-button button {
    background-color: #FF5A5F;
    border: none;
    border-radius: 100%;
    padding: 9px;

}

.search-button img {
    width: 15px;
    float: left;
    color: white;
}


/*--- Settings ---*/
.setting-container {
    margin-right: 100px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 4px;
}

.host-button-container {
    display: flex;
    justify-content: right;
    align-items: center;
}

.setting-container button {
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 10px;

    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}

.setting-container button:hover {
    background-color: rgba(248, 245, 245, 0.829);
}

.setting-container img {
    width: 18px;
    float: left;
    color: white;
}

.profile-wrapper button {
    border: 1px solid rgba(199, 188, 188, 0.829);
    border-radius: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}