.header-navbar-container {
    border-bottom: 1px solid rgba(228, 217, 217, 0.829);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10em;
}

/* Menubar Logo*/
.main-logo {
    margin: auto
}

/* ---- MENUBAR -----*/
.menubar-container ul {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;

    border: 1px solid rgba(228, 217, 217, 0.829);
    border-radius: 50px;
    box-shadow: 0.5px 1px 10px rgba(228, 217, 217, 0.829);
}

.menubar-container ul:hover {
    box-shadow: 0.5px 1.5px 10px rgba(199, 188, 188, 0.829);
}

.menubar-container li {
    margin: 10px;
    display: inline-block;
    font-size: 14px;
}

.menubar-container li:first-child {
    margin-left: 20px;
}

.menu-item-contanier {
    padding: 4px;
    border-right: 1px solid rgba(228, 217, 217, 0.829);
    padding-right: 1em;
}

.menubar-container li:not(:last-child) {
    font-weight: bold;
}

.menubar-container a {
    color: rgb(88, 88, 88);
    font-family: sans-serif;
    cursor: pointer;
    white-space: nowrap;
}

/* "Add Guest" and "Button" - Last item in the Menubar*/
.menubar-container li:last-child {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    gap: 1em;
}

.search-button button {
    background-color: #FF5A5F;
    border: none;
    border-radius: 100%;
    padding: 9px;

}

.search-button img {
    width: 15px;
    float: left;
    color: white;
}


/*--- Settings ---*/
.setting-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1em;
}