.container {
    margin: 50px;
    padding: 10px;

    height: 130px;
    width: 300px;
    background-color: rgb(141, 20, 121);
    border-radius: 10px;

    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
}

.display-container {
    width: 295px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.display-container p {
    color: whitesmoke;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.form-container {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    grid-gap: 5px;
}


.form-container input {
    width: 200px;
    background-color: rgb(153, 223, 196);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.form-container button {
    border-radius: 10px;
}

.success {
    background-color: greenyellow;
}

.error {
    background-color: red;
}